.container {
  display: flex;
  margin: 2rem;
  justify-content: center;
}
.palindrome {
  margin-right: 2rem;
}

button {
  margin-top: 1rem;
  width: 10rem;
  font-size: 1.5rem;
}
input {
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
}

ul {
  border: 2px solid black;
  max-height: 20rem;
  overflow: auto;
  font-size: 1.5rem;
  list-style-type: none;
}
